{% extends 'base.html' %}

{% block title %}Contratos{% endblock %}

{% block content %}

{% load static %}

<style>
    #contractTable tbody tr:hover {
        background-color: #f1f1f1; /* Cor de fundo da linha ao passar o rato */
        cursor: pointer; /* Muda o cursor para indicar que a linha é clicável */
    }

    .popup-overlay {
        position: fixed; /* Garante que o modal fique fixo na tela */
        top: 0;
        left: 0;
        width: 100%; /* Preenche a largura da tela */
        height: 100%; /* Preenche a altura da tela */
        background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
        display: flex; /* Usa flexbox para centralizar */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        z-index: 1000; /* Certifique-se de que o modal fique acima de outros elementos */
    }

    .popup-content {
        position: absolute; /* Posiciona o modal em relação ao container */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Move o modal para o centro */
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 500px;
        max-width: 90%;
    }
</style>

<div class="editable-area newPadding">    
    <div style="display:flex; justify-content: space-between;">
        <h1>Contratos</h1>
        <div style="text-align:right; margin-bottom: 20px;" onclick="openAddContractModal()">
            <button type="button" onclick="openAddContractModal()">
                <img src="{% static 'add.png' %}" title="Adicionar novo contrato" alt="add" style="height: 25px; width: auto;">
            </button>
        </div>
    </div>
    <p>Selecione um contrato para visualizar o detalhe do mesmo.</p> 

<!-- Filtros para a tabela -->
<div class="filters" style="margin-bottom: 20px;">
    <form method="get" id="filterForm">
        <div style="display: flex; gap: 10px;">
            <div class="form-group">
                <label for="filterNumber">Nº do contrato:</label>
                <input 
                    type="text" 
                    id="filterNumber" 
                    name="filterNumber" 
                    class="form-control" 
                    placeholder="Ex: E123123" 
                    value="{{ filters.filterNumber|default:'' }}">
            </div>
            <div class="form-group">
                <label for="filterDate">Data de início:</label>
                <input 
                    type="date" 
                    id="filterDate" 
                    name="filterDate" 
                    class="form-control" 
                    value="{{ filters.filterDate|default:'' }}">
            </div>
            
            <div class="form-group" style="margin-top:24px; width:10%">
                <button type="submit" id="applyFilters" class="button" style="align-self: flex-end;">Aplicar</button>
            </div>
        </div>
    </form>
</div>


<!-- Modal para adicionar contrato -->
<div class="popup-overlay" id="addContractModal" style="display: none;">
    <div class="popup-content">
        <div class="popup-header">
            <h5>Adicionar contrato</h5>
            <span class="modal-close" onclick="closeAddContractModal()">&times;</span>
        </div>
        <br>
        <form id="addContractForm" method="post" action="."> <!-- Mesma URL -->
            {% csrf_token %}
            <div class="form-group">
                <label for="clienteId">Cliente:</label>
                <select id="clienteId" name="clienteId" class="form-control" required>
                    {% for cliente in clientes %}
                    <option value="{{ cliente.clienteid.userid }}">{{ cliente.nif }} - {{ cliente.clienteid.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="pedidoId">Item de pedido:</label>
                <select id="pedidoId" name="pedidoId" class="form-control">
                    {% for pedido in pedidos %}
                    {% comment %} <option value="{{ pedido.idpedido_item }}">{{ pedido.idpedido_item }} - {{ pedido.castaid.nome }}</option> {% endcomment %}
                    <option value="{{ pedido.idpedido_item }}">{{ pedido.castaid.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="dataInicio">Data de início:</label>
                <input type="date" id="dataInicio" name="dataInicio" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="dataFim">Data de fim:</label>
                <input type="date" id="dataFim" name="dataFim" class="form-control">
            </div>
            <div class="form-group">
                <label for="quantidadeEstimada">Quantidade estimada:</label>
                <input type="number" id="quantidadeEstimada" name="quantidadeEstimada" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="precoEstimado">Preço estimado:</label>
                <input type="number" id="precoEstimado" name="precoEstimado" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="quantidadeFinal">Quantidade final:</label>
                <input type="number" id="quantidadeFinal" name="quantidadeFinal" class="form-control" min="0" required>
            </div>
            <div class="form-group">
                <label for="nomeContrato">Nome do contrato:</label>
                <input type="text" id="nomeContrato" name="nomeContrato" class="form-control" required>
            </div>
            <div style="display: flex; justify-content: flex-end; margin-top: 15px;">
                <button type="button" onclick="closeAddContractModal()" class="secondary-button">Cancelar</button>
                <button type="submit" class="button" style="margin-left: 10px;">Guardar</button>
            </div>
        </form>
    </div>
</div>


<!-- Tabela de entregas -->
<table class="table table-bordered" id="contractTable">
    <thead>
        <tr>
            <th>Nome do contrato</th>
            <th>Cliente</th>
            <th>Data de início</th>
            <th>Data de fim</th>
            <th>Quantidade estimada</th>
            <th>Preço estimado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for contrato in contrato %}
        <tr data-contratoid="{{ contrato.contratoid }}">
            <td>{{ contrato.nome }}</td>
            <td>{{ contrato.clienteid.nif }}</td>
            <td>{{ contrato.datainicio|date:'Y-m-d' }}</td>
            <td>{{ contrato.datafim|date:'Y-m-d' }}</td>
            <td>{{ contrato.qtdeestimada }}</td>
            <td>{{ contrato.precoestimado }}</td>
            <td>
                <!-- Botão de exportação JSON -->
                <form method="get" action="{% url 'export_contract_json' contrato.contratoid %}" style="display:inline;">
                    <button type="submit" class="export-btn"><img src="{% static 'export.png' %}" title="Exportar contrato (JSON)" style="height: 25px; width: auto;"></button>
                </form>
                <!-- Botão de exclusão -->
                <form method="post" class="delete-form" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="deleteContract" value="{{ contrato.contratoid }}">
                    <button type="submit" class="delete-btn"><img src="{% static 'delete.png' %}" title="Inativar contrato" style="height: 25px; width: auto;"></button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Nenhum contrato encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>        
</table>
    

<script>
    function openAddContractModal() {
        document.getElementById('addContractModal').style.display = 'block';
    }

    function closeAddContractModal() {
        document.getElementById('addContractModal').style.display = 'none';
    }

    document.getElementById('addContractForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Impede o envio normal do formulário

        const formData = new FormData(this);

        fetch('.', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                closeAddContractModal(); 
                this.reset(); 
                window.location.reload()
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            alert('Ocorreu um erro ao criar o contrato.');
        });
    });
        document.getElementById('contractTable').addEventListener('click', function(event){
            const targetRow = event.target.closest('tr');
            if(targetRow && !targetRow.closest('thead')){
                const contratoid = targetRow.dataset.contratoid;
                if(contratoid){
                    console.log(`Redirecionando para userdetail com ID: ${contratoid}`);
                    window.location.href = `/backoffice/contractdetail/${contratoid}/`;
                }
            }
        });
</script>

{% endblock %}