{% extends 'base.html' %}

{% block title %}Detalhe da Colheita{% endblock %}

{% block content %}

{% load static %}
<style>
    a {
        color: #616646;
    }

    a:hover {
        color: #616646;
        text-decoration: underline;
    }
</style>
<nav aria-label="breadcrumb" class="breadcrumb-container">
    <ol class="separadores">
        <li class="breadcrumb-item"><a href="{% url 'harvest' %}">Colheitas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhe da colheita</li>
    </ol>
</nav>

<div class="editable-area; padding:0px 0px 20px 0px;">
    <h1>Detalhe da colheita</h1>
    <br>
    <div class="dashboard">
        <div class="info-sections">
            <!-- Secção de informações -->
            <div class="info-card">
                <h2>Produção</h2>
                <div class="info-item">
                    <span class="label">Vinha:</span>
                    <span class="value">Vinha A</span>
                </div>
                <div class="info-item">
                    <span class="label">Casta:</span>
                    <span class="value">Casta X</span>
                </div>
                <div class="info-item">
                    <span class="label">Peso total:</span>
                    <span class="value">10,000 kg</span>
                </div>
                <div class="info-item">
                    <span class="label">Preço por tonelada:</span>
                    <span class="value">€200.00</span>
                </div>
            </div>

            <!-- Secção de estado da colheita -->
            <div class="info-card">
                <h2>Estado</h2>
                <div class="info-item">
                    <span class="label">Período:</span>
                    <span class="value">2024-09-01 a 2024-10-15</span>
                </div>
                <div class="info-item">
                    <span class="label">Última pesagem:</span>
                    <span class="value">2024-10-01</span>
                </div>
                <div class="info-item">
                    <span class="label">Previsão do fim:</span>
                    <span class="value">2024-10-15</span>
                </div>
                <div class="info-item">
                    <span class="label">Data de término:</span>
                    <span class="value">2024-10-10</span>
                </div>
            </div>

            <!-- Secção de notas -->
            <div class="info-card">
                <div style="display:flex; justify-content:space-between; align-items:center;">
                    <h2>Notas</h2>
                    <button onclick="openNoteModal()">
                        <img src="{% static 'add.png' %}" alt="edit" style="height: 25px; width: 25px;">
                    </button>
                </div>
                <div id="notesContainer">
                    <div class="info-item">
                        <span class="label" style="width:60%">2024-09-10</span>
                        <span class="value">A colheita está a ir bem, sem pragas até o momento.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pesagens da colheita -->
    <div style="display:flex; justify-content:space-between; align-items:center; margin-top:32px;">
        <h2 class="pesagens-title">Pesagens da colheita</h2>
        <button onclick="openModal()">
            <img src="{% static 'add.png' %}" alt="edit" style="height: 25px; width: 25px;">
        </button>
    </div>
    <div class="pesagens-container" id="pesagensContainer">
        <!-- Pesagens da Vinha A -->
        <div class="pesagem-card">
            <p><strong>Data de pesagem:</strong> 2024-10-01</p>
            <p><strong>Peso bruto:</strong> 1000.00 kg</p>
            <p><strong>Peso líquido:</strong> 950.00 kg</p>
        </div>
        <div class="pesagem-card">
            <p><strong>Data de pesagem:</strong> 2024-10-02</p>
            <p><strong>Peso bruto:</strong> 1100.00 kg</h5>
            <p><strong>Peso líquido:</strong> 1050.00 kg</p>
        </div>

        <!-- Pesagens da Vinha B -->
        <div class="pesagem-card">
            <p><strong>Data de pesagem:</strong> 2024-10-03</p>
            <p><strong>Peso bruto:</strong> 1200.00 kg</h5>
            <p><strong>Peso líquido:</strong> 1150.00 kg</p>
        </div>
    </div>
</div>

<!-- Popup para adicionar uma nova pesagem -->
<div class="popup-overlay" id="modalOverlay">
    <div class="popup-content">
        <div class="popup-header">
            <h5 class="modal-title" id="addPesagemModalLabel">Nova pesagem</h5>
            <div style="display:flex; justify-content: flex-end;">
                <span data-dismiss="modal" class="close" onclick="closeModal()">&times;</span>
            </div>
        </div>
        <br>
        <div>
            <form id="pesagemForm" onsubmit="addPesagem(event)">
                <div class="form-group">
                    <label for="pesoBruto">Peso bruto (kg)</label>
                    <input type="text" class="form-control" id="pesoBruto" required>
                </div>
                <div class="form-group">
                    <label for="pesoLiquido">Peso líquido (kg)</label>
                    <input type="text" class="form-control" id="pesoLiquido" required>
                </div>
                <div class="form-group">
                    <label for="dataPesagem">Data de pesagem</label>
                    <input type="date" class="form-control" id="dataPesagem" required>
                </div>
                <div style="display:flex; justify-content: flex-end;">
                    <button type="button" class="secondary-button" onclick="closeModal()">Cancelar</button>
                    <button type="submit" style="margin-left:8px;" class="button">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Popup para adicionar uma nova nota -->
<div class="popup-overlay" id="noteModalOverlay">
    <div class="popup-content">
        <div class="popup-header">
            <h5 class="modal-title">Adicionar nota</h5>
            <div style="display:flex; justify-content: flex-end;">
                <span class="close" onclick="closeNoteModal()">&times;</span>
            </div>
        </div>
        <br>
        <div>
            <form id="noteForm" onsubmit="addNote(event)">
                <div class="form-group">
                    <label for="noteText">Nota</label>
                    <textarea class="form-control" id="noteText" required></textarea>
                </div>
                <div style="display:flex; justify-content: flex-end;">
                    <button type="button" class="secondary-button" onclick="closeNoteModal()">Cancelar</button>
                    <button type="submit" style="margin-left:8px;" class="button">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Função para abrir o popup de pesagem
    function openModal() {
        document.getElementById('modalOverlay').style.display = 'flex';
    }

    // Função para fechar o popup de pesagem
    function closeModal() {
        document.getElementById('modalOverlay').style.display = 'none';
    }

    // Função para adicionar uma nova pesagem
    function addPesagem(event) {
        event.preventDefault();

        const pesoBruto = document.getElementById('pesoBruto').value;
        const pesoLiquido = document.getElementById('pesoLiquido').value;
        const dataPesagem = document.getElementById('dataPesagem').value;

        const newCard = `
            <div class="pesagem-card">
                <h5>Peso Bruto: ${pesoBruto} kg</h5>
                <p><strong>Peso Líquido:</strong> ${pesoLiquido} kg</p>
                <p><strong>Data de Pesagem:</strong> ${dataPesagem}</p>
            </div>
        `;

        document.getElementById('pesagensContainer').insertAdjacentHTML('beforeend', newCard);

        closeModal();
        document.getElementById('pesagemForm').reset();
    }

    // Função para abrir o popup de notas
    function openNoteModal() {
        document.getElementById('noteModalOverlay').style.display = 'flex';
    }

    // Função para fechar o popup de notas
    function closeNoteModal() {
        document.getElementById('noteModalOverlay').style.display = 'none';
    }

    // Função para adicionar uma nova notas
    function addNote(event) {
        event.preventDefault();

        const noteText = document.getElementById('noteText').value;

        const newNote = `
            <div class="info-item">
                <span class="value">${noteText}</span>
            </div>
        `;

        const notesContainer = document.getElementById('notesContainer');
        notesContainer.insertAdjacentHTML('afterbegin', newNote); // Add note at the beginning

        closeNoteModal();
        document.getElementById('noteForm').reset();
    }
</script>

{% endblock %}
