{% extends 'base.html' %}

{% block title %}Pedidos{% endblock %}

{% block content %}

{% load static %}

<style>
    #requestTable tbody tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        background: white;
        padding: 20px;
        border-radius: 5px;
        width: 400px;
        max-width: 90%;
    }
</style>

<div class="editable-area newPadding">    
    <div style="display:flex; justify-content: space-between;">
        <h1>Pedidos</h1>
        <div style="justify-self:right; text-align:center;">
            <button type="button" onclick="openAddRequestModal()">
                <img src="{% static 'add.png' %}" alt="add" style="height: 25px; width: auto;">
            </button>
        </div>
    </div>
    <p>Selecione um pedido para visualizar todos os detalhes.</p>

    <div class="filters" style="margin-bottom: 20px;">
        <form method="get" id="filterForm">
            <div style="display: flex; gap: 10px;">
                <div class="form-group">
                    <label for="filterPedido">Pedido:</label>
                    <input 
                        type="text" 
                        id="filterPedido" 
                        name="filterPedido" 
                        class="form-control" 
                        placeholder="Ex: Pedido A" 
                        value="{{ filters.filterPedido|default:'' }}">
                </div>
                <div class="form-group">
                    <label for="filterDataInicio">Data de início:</label>
                    <input 
                        type="date" 
                        id="filterDataInicio" 
                        name="filterDataInicio" 
                        class="form-control" 
                        value="{{ filters.filterDataInicio|default:'' }}">
                </div>
                <div class="form-group">
                    <label for="filterDataFim">Data de fim:</label>
                    <input 
                        type="date" 
                        id="filterDataFim" 
                        name="filterDataFim" 
                        class="form-control" 
                        value="{{ filters.filterDataFim|default:'' }}">
                </div>
                <div class="form-group" style="margin-top:24px; width:10%">
                    <button type="submit" id="applyFilters" class="button" style="align-self: flex-end;">Aplicar</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-bordered" id="requestTable">
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Data de início</th>
                <th>Data de fim</th>
                <th>Preço estimado (€)</th>
                <th>Aprovador</th>
                <th class="actions-column">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr data-pedidoid="{{ pedido.pedidoid }}" >
                <td>{{ pedido.pedidoid }}</td>
                <td>{{ pedido.datainicio }}</td>
                <td>{{ pedido.datafim }}</td>
                <td>{{ pedido.precoestimado }}</td>
                <td>{{ pedido.aprovadorid.nome }}</td>
                <td class="actions-column">
                    <button type="button" class="btn btn-primary" onclick="openEditModal('{{ pedido.pedidoid }}')">
                        Editar
                    </button>
                    <button type="button" class="btn btn-danger" onclick="deleteRequest('{{ pedido.pedidoid }}')">
                        Eliminar
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum pedido encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal para Adicionar Pedido -->
    <div class="popup-overlay" id="addRequestModal" style="display: none;">
        <div class="popup-content">
            <div class="popup-header">
                <h5 id="modalTitle">Adicionar Novo Pedido</h5> 
                <span class="modal-close" onclick="closeAddRequestModal()">&times;</span>
            </div>
            <form id="addRequestForm" action="{% url 'add_request' %}" method="post">
                {% csrf_token %}
                <!-- Campo para o Cliente -->
                <div class="form-group">
                    <label for="clienteid">Cliente:</label>
                    <select id="clienteid" name="clienteid" class="form-control" required>
                        <option value="">Selecione um cliente</option>
                        {% for cliente in clientes %}
                            <option value="{{ cliente.clienteid }}">{{ cliente.clienteid}}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <!-- Campo para o Aprovador -->
                <div class="form-group">
                    <label for="aprovadorid">Aprovador:</label>
                    <select id="aprovadorid" name="aprovadorid" class="form-control" required>
                        <option value="">Selecione um aprovador</option>
                        {% for aprovador in users %}
                            <option value="{{ aprovador.userid }}">{{ aprovador.nome }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="newNome">Nome do Pedido:</label>
                    <input type="text" id="newNome" name="newNome" class="form-control" required>
                </div>
            
                <!-- Data de Início -->
                <div class="form-group">
                    <label for="newDataInicio">Data de início:</label>
                    <input type="date" id="newDataInicio" name="newDataInicio" class="form-control" required>
                </div>
            
                <!-- Data de Fim -->
                <div class="form-group">
                    <label for="newDataFim">Data de fim:</label>
                    <input type="date" id="newDataFim" name="newDataFim" class="form-control" required>
                </div>
            
                <!-- Preço Estimado -->
                <div class="form-group">
                    <label for="newPrecoEstimado">Preço estimado (€):</label>
                    <input type="number" id="newPrecoEstimado" name="newPrecoEstimado" class="form-control" required>
                </div>
            
                <!-- Botões -->
                <div style="display: flex; justify-content: flex-end; margin-top: 15px;">
                    <button type="button" onclick="closeAddRequestModal()" class="secondary-button">Cancelar</button>
                    <button type="submit" class="button" style="margin-left: 10px;">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
    
    

    <script>
function openAddRequestModal() {
    const modal = document.getElementById('addRequestModal');
    modal.style.display = 'flex'; 
}


function closeAddRequestModal() {
    const modal = document.getElementById('addRequestModal');
    modal.style.display = 'none'; 
}

function openEditModal(pedidoid) {
    const targetRow = event.target.closest('tr');
    if (pedidoid) {
            window.location.href = `/backoffice/requestdetail/${pedidoid}/`;
        }



    document.getElementById('pedidoid').value = pedidoid;
    document.getElementById('newNome').value = nome;
    document.getElementById('newClienteId').value = clienteId;
    document.getElementById('newAprovadorId').value = aprovadorId;
    document.getElementById('newDataInicio').value = dataInicio;
    document.getElementById('newDataFim').value = dataFim;
    document.getElementById('newPrecoEstimado').value = precoEstimado;

    
    document.getElementById('modalTitle').textContent = 'Editar Pedido';

    // Mostra o popup
    const modal = document.getElementById('addRequestModal');
    modal.style.display = 'flex';
}


document.getElementById('requestTable').addEventListener('click', function (event) {
    const targetCell = event.target.closest('td'); 
    const targetRow = event.target.closest('tr'); 

    
    if (targetCell && targetCell.classList.contains('actions-column')) {
        return; 

    
    if (targetRow && !targetRow.closest('thead')) {
        const pedidoid = targetRow.dataset.pedidoid;
        if (pedidoid) {
            window.location.href = `/backoffice/requestdetail/${pedidoid}/`;
        }
    }
});
    </script>
</div>

{% endblock %}
