{% extends 'base.html' %}

{% block title %}Utilizadores{% endblock %}

{% block content %}

{% load static %}

<style>
    #userTable tbody tr:hover {
        background-color: #f1f1f1; /* Cor de fundo da linha ao passar o rato */
        cursor: pointer; /* Muda o cursor para indicar que a linha é clicável */
    }
    .popup-content {
        max-height: 80vh; /* Limita a altura do modal a 80% da altura da tela */
        overflow-y: auto; /* Adiciona o scroll vertical quando o conteúdo ultrapassar a altura */
    }

    .popup-overlay {
        position: fixed; /* Mantém o modal fixo */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
</style>


<div class="editable-area newPadding">
    <!-- Cabeçalho da página com título e botão de adicionar utilizador -->
    <div style="display:flex; justify-content: space-between; align-items: center;">
        <h1>Utilizadores</h1>
        <div style="justify-self:right; text-align:center;">
            <button type="button" onclick="openAddUserModal()">
                <img src="{% static 'add.png' %}" title="Adicionar novo utilizador" alt="add" style="height: 25px; width: auto;">
            </button>
        </div>
    </div>
    <p>Selecione um utilizador para visualizar o detalhe do mesmo.</p> 

    <!-- Filtros para a tabela de utilizadores -->
    <div class="filters mb-3">
        <form method="get" id="filterForm" style="display: flex; align-items: center; gap: 15px; flex-wrap: wrap;">
            <!-- Campo Nome -->
            <div class="form-group" style="flex: 1; min-width: 200px;">
                <label for="filterName" style="display: block;">Nome:</label>
                <input 
                    style="padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;"
                    id="filterName" 
                    name="filterName" 
                    class="form-control" 
                    value="{{ filters.filterName|default:'' }}" 
                    placeholder="Nome">
            </div>
            
            <!-- Campo Email -->
            <div class="form-group" style="flex: 1; min-width: 200px;">
                <label for="filterEmail" style="display: block;">Email:</label>
                <input 
                    type="email" 
                    id="filterEmail" 
                    name="filterEmail" 
                    class="form-control" 
                    value="{{ filters.filterEmail|default:'' }}" 
                    placeholder="Email">
            </div>
            
            <!-- Dropdown Cargo -->
            <div class="form-group" style="flex: 1; min-width: 200px;">
                <label for="filterCargo" style="display: block;">Cargo:</label>
                <select id="filterCargo" name="filterCargo" class="form-control">
                    <option value="" {% if not filters.filterCargo %}selected{% endif %}>Todos</option>
                    {% for cargo in cargos %}
                    <option value="{{ cargo.nome }}" {% if filters.filterCargo == cargo.nome %}selected{% endif %}>
                        {{ cargo.nome }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
            <!-- Botão Aplicar -->
            <div class="col-md-2" style="margin-top:8px; width:10%">
                <button type="submit" id="applyFilters" class="button" style="align-self: flex-end;">Aplicar</button>
            </div>
        </form>
    </div>
    

    <!-- Tabela de utilizadores -->
    <table class="table table-bordered" id="userTable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Campo</th>
                <th>Cargo</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr data-userid="{{ user.userid }}">
                <td>{{ user.username }}</td>
                <td>{{ user.nome }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telefone }}</td>
                <td>{{ user.endereco }}</td>
                <td>{% if user.campoid %}{{ user.campoid.morada }}{% else %}-{% endif %}</td>
                <td>{% if user.cargoid %}{{ user.cargoid.nome }}{% else %}-{% endif %}</td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum utilizador encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal para adicionar novo utilizador -->
    <div class="popup-overlay" id="addUserModal" style="display: none;">
        <div class="popup-content">
            <div class="popup-header">
                <h5>Adicionar utilizador</h5>
                <span class="modal-close" onclick="closeAddUserModal()">&times;</span>
            </div>
            <br>
            
            <form id="addUserForm" onsubmit="addUser(event)">
                <div class="form-group">
                    <label for="newUserUsername">Username:</label>
                    <input type="text" id="newUserUsername" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newUserName">Nome Completo:</label>
                    <input type="text" id="newUserName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newUserEmail">Email:</label>
                    <input type="email" id="newUserEmail" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newUserPassword">Palavra-passe:</label>
                    <input type="password" id="newUserPassword" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newUserPhone">Telefone:</label>
                    <input type="text" id="newUserPhone" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newUserCity">Morada:</label>
                    <input type="text" id="newUserCity" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newUserCampo">Campo:</label>
                    <select id="newUserCampo" class="form-control" required>
                        {% for campo in campos %}
                        <option value="{{ campo.campoid }}">{{ campo.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="newUserCargo">Cargo:</label>
                    <select id="newUserCargo" class="form-control" required onchange="toggleClienteFields()">
                        {% for cargo in cargos %}
                            <!-- Se a role for "Gestor", não mostre "Admin" nem "Gestor" -->
                            {% if request.session.user_role == "Gestor" and cargo.nome != "Admin" and cargo.nome != "Gestor" %}
                                <option value="{{ cargo.cargoid }}">{{ cargo.nome }}</option>
                            {% elif request.session.user_role != "Gestor" %}
                                <!-- Para outras roles, mostre todos os cargos -->
                                <option value="{{ cargo.cargoid }}">{{ cargo.nome }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- Campos adicionais para cliente -->
                <div id="clienteFields" style="display: none;">
                    <div class="form-group">
                        <label for="clienteNIF">NIF:</label>
                        <input type="number" id="clienteNIF" class="form-control" min="0" max="999999999">
                    </div>
                    <div class="form-group">
                        <label for="clienteContacto">Contacto:</label>
                        <input type="text" id="clienteContacto" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="clienteTipo">Tipo de Cliente:</label>
                        <select id="clienteTipo" class="form-control">
                            <option value="Individual">Individual</option>
                            <option value="Empresa">Empresa</option>
                        </select>
                    </div>
                </div>
                
                
                <div style="display: flex; justify-content: flex-end; margin-top: 15px;">
                    <button type="button" onclick="closeAddUserModal()" class="secondary-button">Cancelar</button>
                    <button type="submit" class="button" style="margin-left: 10px;">Adicionar</button>
                </div>
            </form>    
        </div>
    </div>

    <script>
        const csrfToken = '{{ csrf_token }}';
        
        // Adiciona o evento de clique na tabela
        document.getElementById('userTable').addEventListener('click', function(event) {
            const targetRow = event.target.closest('tr'); // Captura a linha clicada
            if (targetRow && !targetRow.closest('thead')) { // Garante que não seja o cabeçalho
                const userId = targetRow.dataset.userid;  // Obtém o atributo data-userid
                if (userId) {
                    console.log(`Redirecionando para userdetail com ID: ${userId}`); // Verifica no console
                    window.location.href = `/backoffice/userdetail/${userId}/`; // Redireciona
                }
            }
        });
    
        // Função para abrir o modal de adicionar utilizador
        function openAddUserModal() {
            document.getElementById('addUserModal').style.display = 'flex';
        }
    
        // Função para fechar o modal de adicionar utilizador
        function closeAddUserModal() {
            document.getElementById('addUserModal').style.display = 'none';
        }
    
        // Função para adicionar um novo utilizador à tabela
        function addUser(event) {
           event.preventDefault();

           const formData = new FormData();
           formData.append('username', document.getElementById('newUserName').value);
           formData.append('nome', document.getElementById('newUserName').value);
           formData.append('email', document.getElementById('newUserEmail').value);
           formData.append('password', document.getElementById('newUserPassword').value);
           formData.append('telefone', document.getElementById('newUserPhone').value);
           formData.append('endereco', document.getElementById('newUserCity').value);
           formData.append('campoid', document.getElementById('newUserCampo').value);
           formData.append('cargoid', document.getElementById('newUserCargo').value);

           const cargoSelect = document.getElementById('newUserCargo');
           const selectedRole = cargoSelect.options[cargoSelect.selectedIndex].text;

            if (selectedRole === "Cliente") {
                formData.append('cliente_nif', document.getElementById('clienteNIF').value);
                formData.append('cliente_contacto', document.getElementById('clienteContacto').value);
                formData.append('cliente_tipo', document.getElementById('clienteTipo').value);
            }
                    fetch('/users/', {
               method: 'POST',
               headers: {
                   'X-CSRFToken': csrfToken  // Inclua o token CSRF
               },
               body: formData
           })
           .then(response => response.json())
           .then(data => {
               if (data.message) {
                   alert(data.message);
                   location.reload(); // Atualiza a página para refletir as mudanças
               } else if (data.error) {
                   alert('Erro: ' + data.error);
               }
           })
           .catch(error => console.error('Error:', error));
}
    
        // Filtragem na tabela de utilizadores
        document.getElementById('applyFilters').addEventListener('click', function() {
            const nameFilter = document.getElementById('filterName').value.toLowerCase();
            const emailFilter = document.getElementById('filterEmail').value.toLowerCase();
            const cargoFilter = document.getElementById('filterCargo').value;
    
            const rows = document.querySelectorAll('#userTable tbody tr');
    
            rows.forEach(row => {
                const name = row.cells[0].textContent.toLowerCase();
                const email = row.cells[1].textContent.toLowerCase();
                const cargo = row.cells[3].textContent;
    
                // Verifica se a linha corresponde aos filtros
                const matchesName = name.includes(nameFilter);
                const matchesEmail = email.includes(emailFilter);
                const matchesCargo = cargoFilter === "" || cargo === cargoFilter;
    
                // Mostra ou esconde a linha baseado nos filtros
                if (matchesName && matchesEmail && matchesCargo) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });

        function toggleClienteFields() {
         const cargoSelect = document.getElementById('newUserCargo');
         const clienteFields = document.getElementById('clienteFields');

         // Verifica se o cargo selecionado é "Cliente"
         const selectedRole = cargoSelect.options[cargoSelect.selectedIndex].text;
         if (selectedRole === "Cliente") {
             clienteFields.style.display = "block"; // Mostra os campos de cliente
         } else {
             clienteFields.style.display = "none"; // Oculta os campos de cliente
         }
}
    </script>
    
</div>

{% endblock %}
