{% extends 'base.html' %}

{% block title %}Mapa de vinhas{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

<style>
    .leaflet-draw-draw-polyline,
    .leaflet-draw-draw-circlemarker,
    .leaflet-draw-draw-rectangle,
    .leaflet-draw-draw-marker,
    .leaflet-draw-edit-edit,
    .leaflet-draw-edit-remove,
    .leaflet-draw-draw-circle {
        display: none !important;
    }
</style>

{% csrf_token %}
{% load static %}
<div class="newPadding">
    <div style="display:flex; justify-content: space-between;">
        <h1>Vinhas</h1>
        <div style="justify-self:right; text-align:center; display:none;">
            <button id="addFieldButton" type="button">
                <img src="{% static 'add.png' %}" title="Adicionar nova vinha" alt="edit" style="height: 25px; width: auto; ">
            </button>
        </div>
    </div>
    <br>
    

    <div style="display:flex; justify-content: space-between;">
        <div id="map" style="width: 650px; height: 450px; margin-right:24px"></div>
        <div style="width:50%;">
            <div style="margin-bottom:30px">
                {% if is_admin %}
                <select class="custom-select mr-3" name="vineyard" id="dropdown_vineyard" required>
                    {% for quinta in quintas %}
                        <option value={{ quinta.campoid }}>{{ quinta.nome }}</option>
                    {% endfor %}
                </select>
                {% endif %}
            </div>
            <!-- vineyard_list.html -->
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Casta</th>
                        <th>Data de plantação</th>
                        <th>Hectares</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
 
        </div>
    </div>

    <script>
        var terrainCoordinates = [41.230704, -7.646158];
        var map = L.map('map').setView(terrainCoordinates, 5);

        map.removeControl(map.attributionControl);

        var osmLayer = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

        var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        }).addTo(map);

        var layerControl = L.control.layers({}, {}).addTo(map);
        layerControl.addBaseLayer(osmLayer, 'Mapa');
        layerControl.addBaseLayer(googleSat, 'Visão de Satélite');

        var vineyardMarkers = L.layerGroup().addTo(map);

        document.getElementById('dropdown_vineyard').addEventListener('change', function() {
            const vineyardId = this.value; // Obtém o valor selecionado do dropdown
            loadVineyards(vineyardId);
        });

        function updateVineyardList(data) {
            const tableBody = document.querySelector('table tbody');
            tableBody.innerHTML = ''; // Limpa a tabela antes de adicionar novos dados
        
            if (data.length === 0) {
                const row = document.createElement('tr');
                row.innerHTML = `<td colspan="4">Nenhuma vinha encontrada.</td>`;
                tableBody.appendChild(row);
                return;
            }
        
            data.forEach(item => {
                const row = document.createElement('tr');
                row.setAttribute('data-id', item.VinhaId); // Adiciona o atributo data-id com o ID da vinha
                row.innerHTML = `
                    <td>${item.Nome}</td>
                    <td>${item.Casta}</td>
                    <td>${item.DataPlantacao || 'N/A'}</td>
                    <td>${item.Hectares || 'N/A'}</td>
                    <td>
                        <button><img src="{% static 'edit.png' %}" title="Editar vinha" alt="edit" style="height: 25px; width: auto;"></button>
                        <button><img src="{% static 'delete.png' %}" title="Eliminar vinha" alt="delete" style="height: 25px; width: auto;"></button>
                    </td>
                `;
                tableBody.appendChild(row);
            });

            document.querySelectorAll('button img[alt="delete"]').forEach(button => {
                button.parentElement.addEventListener('click', function () {
                    const row = this.closest('tr'); // Linha da tabela onde o botão está
                    const vinhaId = row.dataset.id; // Assuma que o ID da vinha está armazenado como um atributo `data-id`
        
                    if (confirm('Tem certeza de que deseja eliminar esta vinha?')) {
                        // Fazer a requisição para o backend
                        fetch(`/backoffice/vineyards/delete/${vinhaId}/`, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('Vinha eliminada com sucesso!');
                                location.reload(); // Recarregar a página
                            } else {
                                alert('Erro ao eliminar vinha: ' + data.error);
                            }
                        })
                        .catch(error => {
                            console.error('Erro ao eliminar vinha:', error);
                            alert('Erro ao eliminar vinha.');
                        });
                    } else {
                        alert('Ação cancelada!');
                        location.reload();
                    }
                });
            });

            document.querySelectorAll('button img[alt="edit"]').forEach(button => {
                button.parentElement.addEventListener('click', function () {
                    const row = this.closest('tr'); // Linha da tabela onde o botão está
                    const vinhaId = row.dataset.id; // Obtém o ID da vinha armazenado no atributo data-id
            
                    // Fazer um fetch para obter os dados da vinha selecionada
                    fetch(`/backoffice/vineyards/get/${vinhaId}/`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                // Preencher o modal com os dados recebidos
                                preencherModalParaEdicao(data.vineyard);
            
                                // Exibir o modal
                                openModal();
                                
                                document.getElementById('saveVineyard').addEventListener('click', function (event) {
                                    event.preventDefault(); // Impede o comportamento padrão do botão de envio
                                
                                    const isEdit = this.dataset.isEdit === 'true';
                                    const vineyardId = this.dataset.id;
                                    const form = document.getElementById('vineyardForm');
                                
                                    // Certifique-se de que todos os campos necessários estão preenchidos antes de criar o FormData
                                    const formData = new FormData(form);
                                
                                    if (isEdit) {
                                        // Adiciona o ID da vinha ao FormData
                                        const dropdownValue = document.getElementById('dropdown_vineyard').value;
                                        formData.append('id', vineyardId);
                                        formData.append('campoid', dropdownValue);
                                        
                                    }
                                
                                    // Debugging para garantir que o FormData está correto
                                    for (let [key, value] of formData.entries()) {
                                        console.log(key, value);
                                    }
                                
                                    // Envia os dados via Fetch API
                                    fetch('/backoffice/vineyards/update/', {
                                        method: 'POST',
                                        headers: {
                                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                                        },
                                        body: formData
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data.success) {
                                                alert(data.message);
                                                location.reload(); // Recarrega a página após o sucesso
                                            } else {
                                                alert('Erro: ' + data.error);
                                            }
                                        })
                                        .catch(error => {
                                            console.error('Erro:', error);
                                            alert('Erro ao salvar a vinha.');
                                        });
                                });
                                
                                
                                // Armazenar o ID da vinha no botão "Guardar"
                                document.getElementById('saveVineyard').dataset.id = vinhaId;
                                document.getElementById('saveVineyard').dataset.isEdit = 'true';
                            } else {
                                alert('Erro ao carregar dados da vinha.');
                            }
                        })
                        .catch(error => {
                            console.error('Erro ao carregar dados da vinha:', error);
                            alert('Erro ao carregar dados da vinha.');
                        });
                });
            });
            
        }
        
        
        function preencherModalParaEdicao(vineyard) {
            carregarCastas(vineyard.CastaId);
            document.getElementById('name').value = vineyard.Nome;
            console.log(vineyard.CastaId);
            document.getElementById('castasDropdown').value = vineyard.CastaId; // ID da casta
            document.getElementById('date').value = vineyard.DataPlantacao;
            document.getElementById('size').value = vineyard.Hectares;
            document.getElementById('coordinates').value = vineyard.Coordenadas;
            
        }
        
        // Função para carregar as vinhas com base no ID da quinta selecionada
        function loadVineyards(vineyardId) {
            const url = `/backoffice/load_vineyards/?vineyard=${vineyardId}`;
        
            fetch(url, { method: 'GET' })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    vineyardMarkers.clearLayers(); // Limpa os marcadores existentes
                    addVineyards(data); // Adiciona os novos marcadores no mapa
                    updateVineyardList(data); // Atualiza a lista de vinhas na tabela
                })
                .catch(error => console.error('Error loading vineyards:', error));
        }
        
        // Chamada inicial para carregar as vinhas ao abrir a página
        const initialVineyardId = document.getElementById('dropdown_vineyard').value;
        loadVineyards(initialVineyardId);

        function addVineyards(data) {
            data.forEach(item => {
                const coordinates = item.Coordenadas.coordinates[0].map(coord => [coord.lat, coord.lng]);
                const vineyard = L.polygon(coordinates).bindPopup(
                    `<b>${item.Nome}</b><br>Hectares: ${item.Hectares}<br>Data de Plantação: ${item.DataPlantacao}`
                );
                vineyardMarkers.addLayer(vineyard);
            });
        }

        var drawControl = new L.Control.Draw({
            draw: {
                polygon: {
                    allowIntersection: false,
                    showArea: true
                },
                marker: true
            },
            edit: {
                featureGroup: new L.FeatureGroup()
            },
            remove: true
        }).addTo(map);

        map.on('draw:created', function(e) {
            var type = e.layerType,
                layer = e.layer;
        
            if (type === 'polygon') {
                var latlngs = layer.getLatLngs()[0]; // Obter as coordenadas do polígono
                var coordinates = latlngs.map(latlng => ({
                    lat: latlng.lat,
                    lng: latlng.lng
                }));
        
                // Calcular a área em hectares
                var areaInSquareMeters = L.GeometryUtil.geodesicArea(layer.getLatLngs()[0]);
                var areaInHectares = areaInSquareMeters / 10000;
        
                // Preencher os campos de coordenadas e hectares no modal
                preencherModalComNovoPoligono(coordinates, areaInHectares);
        
                // Adicionar o polígono ao mapa
                vineyardMarkers.addLayer(layer);
                const vineyardForm = document.getElementById('vineyardForm');

            document.getElementById('saveVineyard').addEventListener('click', function () {
            const formData = new FormData(document.getElementById('vineyardForm'));
            const dropdownValue = document.getElementById('dropdown_vineyard').value;
            formData.append('dropdown_vineyard', dropdownValue);
            fetch('/backoffice/vineyards/create_vineyard/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Vinha adicionada com sucesso!');
                    location.reload();
                } else {
                    alert('Erro ao adicionar vinha: ' + data.error);
                }
            });
        });
                openModal();
            }
        });

        function preencherModalComNovoPoligono(coordinates, areaInHectares) {
            // Limpar os campos do formulário
            document.getElementById('name').value = '';
            document.getElementById('date').value = '';
        
            // Preencher o campo de hectares
            document.getElementById('size').value = areaInHectares.toFixed(2); // Arredondar para 2 casas decimais
        
            // Preencher o campo oculto de coordenadas (se existir)
            // Se você estiver usando um campo de texto para exibir as coordenadas (não recomendado para edição manual)
             document.getElementById('coordinates').value = JSON.stringify(coordinates);
             document.getElementById('saveVineyard').dataset.isEdit = 'false';
        
            // Se você quiser armazenar as coordenadas como um campo JSON no backend, é melhor não exibi-las diretamente no formulário.
        
            // Carregar as castas no dropdown
            carregarCastas();
        }
        function carregarCastas(value) {
            fetch('/backoffice/load_castas/', { // Rota para obter a lista de castas
                method: 'GET'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao carregar castas.');
                }
                return response.json();
            })
            .then(castas => {
                const castasDropdown = document.getElementById('castasDropdown');
                castasDropdown.innerHTML = ''; // Limpar opções existentes
        
                castas.forEach(casta => {
                    const option = document.createElement('option');
                    option.value = casta.castaid;
                    option.text = casta.nome;
                    castasDropdown.appendChild(option);
                });
                if(value != null){
                    castasDropdown.value=value;
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao carregar castas.');
            });
        }
        function atualizarVinha(updatedData) {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const layerId = document.querySelector('#myModal button[type="submit"]').dataset.layerId;
            const layer = vineyardMarkers.getLayer(layerId);
        
            // Obter as coordenadas do layer
            const latlngs = layer.getLatLngs()[0];
            const coordinates = latlngs.map(latlng => ({
                lat: latlng.lat,
                lng: latlng.lng
            }));
        
            // Adicionar as coordenadas aos dados atualizados
            updatedData.coordinates = coordinates;
        
            fetch(`/backoffice/create_vineyard/`, { // Alterar a rota para uma rota de criação
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(updatedData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao criar vinha.');
                }
                return response.json();
            })
            .then(data => {
                console.log('Vinha criada com sucesso:', data);
                alert('Vinha criada com sucesso!');
        
                // Atualizar o popup do polígono, se necessário
                layer.bindPopup(`<b>${updatedData.nome}</b><br>Hectares: ${updatedData.hectares}<br>Data de Plantação: ${updatedData.dataplantacao || 'N/A'}`);
        
                // Fechar o modal
                modal.classList.remove('open');
        
                // Recarregar as vinhas
                const vineyardId = document.getElementById('dropdown_vineyard').value;
                loadVineyards(vineyardId);
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao criar vinha.');
            });
        }
        
    </script>

    <div id="myModal" class="sidebar">
        <div class="p-3">
            <div style="text-align:right; padding:0px 24px;">
                <span class="close">&times;</span>
            </div>
            <h2>Informação da vinha</h2>
            <div id="vineyardInfo" style="margin-top: 15px;"></div>
            <div id="formContainer" style="display: block; margin-top: 15px;">
                <form id="vineyardForm"> <label for="name">Nome:</label>
                    <input style="width: 50%;" type="text" id="name" name="name">
    
                    <label for="castasDropdown">Casta:</label>
                    <select style="width: 50%;" id="castasDropdown" name="casta"></select>
    
                    <label for="date">Data de plantação:</label>
                    <input style="width: 50%;" type="date" id="date" name="date">
    
                    <label for="size">Hectares:</label>
                    <input style="width: 50%;" type="number" id="size" name="size" readonly>
    
                    <input type="hidden" id="coordinates" name="coordinates">
    
                    <br>
    
                    <button id="saveVineyard" data-is-edit="false" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const modal = document.getElementById('myModal');
        const addFieldButton = document.getElementById('addFieldButton');
        const closeButton = document.getElementsByClassName('close')[0];
        
        function openModal() {
            document.querySelector('.close').addEventListener('click', function () {
                window.location.reload();
            });
            
            modal.classList.add('open');
        }

        addFieldButton.onclick = openModal;

        closeButton.onclick = function() {
            modal.classList.remove('open');
        };
    </script>
</div>
{% endblock %}
