{% extends 'base.html' %}

{% block title %}Mapa de vinhas{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

<style>
    .leaflet-draw-draw-polyline,
    .leaflet-draw-draw-circlemarker,
    .leaflet-draw-draw-rectangle,
    .leaflet-draw-draw-circle {
        display: none !important;
    }
</style>

{% csrf_token %}
{% load static %}
<div class="newPadding">
    <div style="display:flex; justify-content: space-between;">
        <h1>Vinhas</h1>
        <div style="justify-self:right; text-align:center;">
            <button id="addFieldButton" type="button"><img src="{% static 'add.png' %}" alt="edit" style="height: 25px; width: auto;"></button>
        </div>
    </div>
    <br>
    
    <div style="display:flex; justify-content: space-between;">
        <div id="map" style="width: 650px; height: 450px; margin-right:24px"></div>
        <div style="width:50%;">
            <table>
                <thead>
                    <tr>
                        <th>Casta</th>
                        <th>Data de plantação</th>
                        <th>Hectares</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Merlot Blanc</td>
                        <td>01/11/2024</td>
                        <td>35</td>
                        <td>
                            <div style="display:flex">
                                <form method="GET" style="display:inline; margin-right:8px">
                                    <button type="submit"><img src="{% static 'edit.png' %}" alt="edit" style="height: 25px; width: auto;"></button>
                                </form>
                                <form method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit"><img src="{% static 'delete.png' %}" alt="delete" style="height: 25px; width: auto;"></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Touriga Nacional</td>
                        <td>01/11/2024</td>
                        <td>45</td>
                        <td>
                            <div style="display:flex">
                                <form method="GET" style="display:inline; margin-right:8px">
                                    <button type="submit"><img src="{% static 'edit.png' %}" alt="edit" style="height: 25px; width: auto;"></button>
                                </form>
                                <form method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit"><img src="{% static 'delete.png' %}" alt="delete" style="height: 25px; width: auto;"></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>

    <script>
        var terrainCoordinates = [41.230704, -7.646158];
        var map = L.map('map').setView(terrainCoordinates, 17);

        map.removeControl(map.attributionControl);

        var osmLayer = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

        var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        }).addTo(map);

        var layerControl = L.control.layers({}, {}).addTo(map);
        layerControl.addBaseLayer(osmLayer, 'Mapa');
        layerControl.addBaseLayer(googleSat, 'Visão de Satélite');

        var vineyardMarkers = L.layerGroup().addTo(map);

        fetch('/backoffice/load_vineyards/', { method: 'GET' })
            .then(response => response.json())
            .then(data => addVineyards(data))
            .catch(error => console.error('Error loading vineyards:', error));

        function addVineyards(vineyards) {
            let jsonArray = JSON.parse(vineyards);
            jsonArray.forEach(item => {
                const coordinates = item.coordinates;
                const vineyard = L.polygon(coordinates).bindPopup(item.description);
                vineyardMarkers.addLayer(vineyard);
                
                // Abre a modal apenas ao clicar em uma vinha
                vineyard.on('click', function() {
                    document.getElementById('vineyardInfo').innerHTML = item.description; 
                    openModal(); 
                });
            });
        }

        var drawControl = new L.Control.Draw({
            draw: {
                polygon: {
                    allowIntersection: false,
                    showArea: true
                },
                marker: true
            },
            edit: {
                featureGroup: new L.FeatureGroup()
            },
            remove: true
        }).addTo(map);

        map.on('draw:created', function(e) {
            var type = e.layerType,
                layer = e.layer;

            var csrfToken = '{{ csrf_token }}'; 
            if (type === 'polygon') {
                fetch('/backoffice/save_polygon/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken 
                    },
                    body: JSON.stringify({
                        coordinates: layer.getLatLngs(),
                        title: "Nova Vinha",
                        description: ""
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert(data.message);
                        vineyardMarkers.addLayer(layer);
                        openModal();
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => console.error('Error saving polygon:', error));
            }
        });
    </script>

    <div id="myModal" class="sidebar">
        <div class="p-3">
            <div style="text-align:right; padding:0px 24px;">
                <span class="close">&times;</span>
            </div>
            <h2>Informação da vinha</h2>
            <div id="vineyardInfo" style="margin-top: 15px;">
                <!-- Informações sobre a vinha serão exibidas aqui ao clicar em um polígono de vinha -->
            </div>
            <div id="formContainer" style="display: block; margin-top: 15px;">
                <form method="POST">
                    {% csrf_token %}
                    <label for="name">Casta:</label>
                    <input style="width: 50%;" type="text" id="name" name="name" required>

                    <label for="date">Data de plantação:</label>
                    <input style="width: 50%;" type="text" id="date" name="date" required>

                    <label for="size">Hectares:</label>
                    <input style="width: 50%;" type="text" id="size" name="size" required>
                    
                    <br>

                    <button type="submit">Guardar</button> 
                </form>
            </div>
        </div>
    </div>

    <script>
        const modal = document.getElementById('myModal');
        const addFieldButton = document.getElementById('addFieldButton');
        const closeButton = document.getElementsByClassName('close')[0];
        
        function openModal() {
            modal.classList.add('open');
        }

        addFieldButton.onclick = openModal;

        closeButton.onclick = function() {
            modal.classList.remove('open');
        };
    </script>
</div>
{% endblock %}
